$green:#1CD69E;
$white:#fff;

.service-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  position: relative;
}
.services{
  // position: absolute;
  justify-self: start;
  align-self: center;
  padding: 0.7rem;
  background-color: $green;


}
#service-1{
     justify-self: center;
  align-items: center;
    grid-column: 2;
  grid-row: 3;
  border-radius: 0.5rem;
  color: $white;
}

#service-2{
  justify-self: start;
  align-items: center;
    grid-column: 3;
  grid-row: 3;
   border-radius: 0.5rem;
   color: $white;
   align-self: start;
}

#service-3{
    justify-self: center;
  align-items: center;
    grid-column: 2;
  grid-row: 1;
   border-radius: 0.5rem;
   color: $white;
}


#service-4{
    justify-self: end;
  align-items: center;
    grid-column: 1;
  grid-row: 3;
   border-radius: 0.5rem;
   color: $white;
   align-self: start;
}

#service-5{
  justify-self: center;
  align-self: center;
    grid-column: 2;
  grid-row: 2;
  border-radius: 40%;
  opacity: 0.8;
}
.service-img{
  width: 10rem;
  height: 10rem;
}

#service-6{
    justify-self: end;
  align-items: center;
    grid-column: 1;
    grid-row: 1;
   border-radius: 0.5rem;
   color: $white;
  align-self: end;

}

#service-7{
    justify-self: start;
  align-items: center;
    grid-column: 3;
  grid-row: 1;
   border-radius: 0.5rem;
   color: $white;
   align-self: end;
}