$primary-brand: #005fa4;
$text-outside: #4d4d4d;
$text-inside: #fff;
$transition-in: all 250ms ease-out;
$transition-out: all 250ms ease-in;

  

.cls-1 {
    font-size: 28px;
    font-family: Roboto-Bold, Roboto;
    font-weight: 700;
  }

  .cls-2 {
    letter-spacing: -0.02em;
  }

  .cls-3 {
    letter-spacing: -0.01em;
  }

  .cls-4 {
    letter-spacing: -0.01em;
  }

  .cls-5 {
    font-size: 16px;
    font-family: Roboto-Regular, Roboto;
  }

  .cls-6 {
    letter-spacing: -0.01em;
  }

  .cls-7 {
    letter-spacing: -0.01em;
  }

  .cls-8 {
    letter-spacing: -0.02em;
  }

  .cls-9 {
    letter-spacing: -0.01em;
  }

  .cls-10 {
    letter-spacing: 0.01em;
  }

  .cls-11 {
    letter-spacing: -0.01em;
  }

  .cls-12 {
    letter-spacing: -0.04em;
  }

  .cls-13 {
    letter-spacing: -0.02em;
  }

  .cls-14 {
    letter-spacing: 0.01em;
  }

  .cls-15 {
    letter-spacing: -0.01em;
  }

  .cls-16 {
    letter-spacing: -0.06em;
  }

  .cls-17 {
    letter-spacing: -0.02em;
  }

  .cls-18 {
    letter-spacing: 0.01em;
  }

  .cls-19 {
    letter-spacing: 0.02em;
  }

  .cls-20 {
    letter-spacing: -0.01em;
  }

  .cls-21 {
    letter-spacing: -0.03em;
  }

  .service__circle{
    border: 2px solid red;
    margin: 10rem 30rem ;
    display: flex;
    // justify-content: center;
    // align-items: center;
    border-radius: 50%;
    align-items: baseline;
    position: relative;
    // animation: rotate 5s linear infinite;
  }
  .sub-circle{
    padding: 2em;
    width: 10em;
    height: 5em;
    border: 2px solid yellow;
    // border-radius: 50%;
    position: absolute;
    bottom: 0;   
    text-align: center;
  }
 .circle-1{
  top: 130px;
  left: 15px;
  transform: translate(4px, -10px);
  // text-align: center;
 }
 .circle-2{
    left: 50px;
    top: 225px;
 }
 .circle-3{
  left: 144px;
  top: 287px;
  transform: translate(5px, 28px);

 }
 .circle-4{
  left: 243px;
  top: 328px;
  transform: translateX(43px);
 }
 .circle-5{
  left: 372px;
  top: 225px;
  transition: translateX(45px);
  transform: translate(41px, 25px);
 }
 .circle-6{
  left: 409px;
  top: 119px;
  transform: translate(51px, 10px);
 }

 .Image{
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  width: 15vw;
  height: 30vw;
 }
 .service__circle-align{
   flex-basis: center;
 }
 .video{
  border-style: none;
 }

 @keyframes rotate {
  0%{
      transform: rotate(0);
  }
  100%{
      transform: rotate(360deg);
  }
  
}